.lci-container {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: inline-block;
}

.question-mark {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;
  color: #e8e3e3;
}

.popup {
  visibility: hidden;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lci-container:hover .popup {
  visibility: visible;
}